.im-direct-mail {
  max-width: 900px;
  padding: 20px;

  .im-direct-mail-messages {
    margin-top: 20px;
  }

  .im-direct-mail-grid {
    margin: 20px 0;
  }

  .im-direct-mail-add-on {
    margin-top: 50px;
  }
}
